  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

   .logo {
  	width: 160px;
  	height: 70px;
  }

  .imagen{
    height: 100%;
    width: 100%
  }